<%- include("partials/head.ejs", { title: "Gebruikte minifigs", scriptForCustomCSSAllowed: true }); %>
<%- include("partials/header-complex.ejs") %>

    <main class="container"><!--De afbeeldingen komen van de API-->

        <hgroup class="container-fluid col-lg-10">
            <h1>Gebruikte minifigs</h1>
            <p>WELKOM bij "Gebruikte minifigs" hierin kunt u een lijst met gebruikte minifigs terug vinden.<br />Per individuele minifig ziet u onderaan knopjes waarbij u de onderdelen van de minifig kunt bekijken maar ook in welke set de minifig thuis hoort.</p>
        </hgroup>
        <section class="container-fluid col-lg-10">
            <div class="row">
                <% for (let minifig of usedMinifigs) { %>
                    <article class="col-xl-4 col-md-6 col-sm-12">
                        <figure class="card rounded-4">
                            <img src="<%= minifig.minifig.imageUrl %>" class="card-img-top rounded-4" alt="<%= minifig.minifig.figCode %>" />
                            <div class="card-body">
                                <figcaption class="card-text fw-bold"><%= minifig.minifig.name %></figcaption>
                            </div>
                            <div class="card-footer">
                                <a href="/minifig-onderdelen/<%= minifig.minifig.figCode %>" target="_blank" title="Bekijk de onderdelenlijst van deze minifig in een nieuw tabblad" class="no-link-style">
                                    <i class="btn btn-dark orange-hover btn-sm bi-person-lines-fill rounded-2"></i>
                                </a>
                                <a href="/sets-met-bepaalde-minifig/<%= minifig.minifig.figCode %>" target="_blank" title="Bekijk lijst van sets waarin deze minifig voorkomt" class="no-link-style">
                                    <i class="btn btn-dark orange-hover btn-sm bi-view-list rounded-2"></i>
                                </a>
                            </div>
                        </figure>
                    </article>
                <% } %>
            </div>
        </section>
    </main>

    <%- include("partials/footer.ejs"); %>