<%- include('partials/head.ejs', {title: "Alle minifigs die in de set " + set.name + " voorkomen"}) %>
<%- include("partials/header-complex.ejs") %>

    <main class="container"><!--De afbeeldingen komen van de API-->
        <hgroup class="container-fluid col-lg-10">
        <h1>Bewoners van het huis</h1>
        <p> In deze pagina ziet u een specifieke set met daarbij een lijst van de bijhorende minifigs</p>
        </hgroup>

        <div class="row">

            <aside class="col-lg-4">
                <h2 class="mb-3">Thuis</h2>
                <article>
                    <figure class="card rounded-4">
                        <img src="<%=set.imageUrl%>" alt="<%=set.SetCode %>" class="card-img-top rounded-4" />
                        <div class="card-body">
                            <figcaption class="card-text fw-bold"><%= set.name %></figcaption>
                        </div>
                    </figure>
                </article>
            </aside>

            <section class="container-fluid col-lg-7">
                <h2 class="mb-3 mt-5 mt-lg-0">De bewoners</h2>
                <div class="row">
                    <% for (let i = 0; i < minifigsInSet.length; i++) { %>
                        <article class="col-xl-4 col-md-6 col-sm-12">
                            <figure class="card rounded-4">
                                <img src="<%= minifigsInSet[i].imageUrl %>" class="card-img-top rounded-4" alt="<%= minifigsInSet[i].figCode %>" />
                                <div class="card-body">
                                    <figcaption class="card-text fw-bold"><%= minifigsInSet[i].name %></figcaption>
                                </div>
                            </figure>
                        </article>
                    <% } %>
                </div>
            </section>

        </div>
    </main>

    <% include('partials/footer.ejs') %>