<%- include("partials/head.ejs", {title: "Dakloze minifigs"}) %>
<%- include("partials/header-complex.ejs") %>

    <main class="container"><!--De afbeeldingen komen van de API-->
        <hgroup class="container-fluid col-lg-10">
            <h1>Dakloze minifigs</h1>
            <p>Op deze pagina ziet u de minifigs die nog geen verblijf hebben gekregen. Geef ze een verblijf.</p>
        </hgroup>
        <section class="container-fluid col-lg-10">
            <div class="row">
                <% for (let i = 0; i < nietGeordendeMinifigs.length; i++) { %>
                    <article class="col-xl-4 col-md-6 col-sm-12">
                        <figure class="card rounded-4">
                            <img src="<%= nietGeordendeMinifigs[i].imageUrl %>" class="card-img-top rounded-4" alt="<%= nietGeordendeMinifigs[i].figCode %>" />
                            <div class="card-body">
                                <figcaption class="card-text fw-bold"><%= nietGeordendeMinifigs[i].name %></figcaption>
                            </div>
                            <div class="card-footer">
                                <a href="/minifig-onderdelen/<%= nietGeordendeMinifigs[i].figCode %>" target="_blank" title="Bekijk de onderdelenlijst van deze minifig in een nieuw tabblad" class="no-link-style">
                                    <i class="btn btn-dark orange-hover btn-sm bi-person-lines-fill rounded-2"></i>
                                </a>
                                <a href="/sets-met-bepaalde-minifig/<%= nietGeordendeMinifigs[i].figCode %>" target="_blank" title="Bekijk lijst van sets waarin deze minifig voorkomt" class="no-link-style">
                                    <i class="btn btn-dark orange-hover btn-sm bi-view-list rounded-2"></i>
                                </a>
                            </div>
                        </figure>
                    </article>
                <% } %>
            </div>
        </section>
    </main>

    <%- include("partials/footer.ejs") %>