<%- include("partials/head.ejs", { title: "Overgeslagen minifigs", scriptForCustomCSSAllowed: true }) %>
<%- include("partials/header-complex.ejs") %>

    <main class="container"><!--De afbeeldingen komen van de API-->
        <hgroup class="container-fluid col-lg-10">
        <h1>Overgeslagen minifigs</h1>
        <p> In deze pagina zit u een lijst van geskipte minifigs onder elk minifig ziet u twee knopjes waardoor u de onderdelen van die specifieke minifig kunt bekijken en ook een lijst van sets waarin de minifig thuis hoort</p>
        </hgroup>
        <section class="container-fluid col-lg-10">
            <div class="row">

                <% for (let i = 0; i < skippedMinifigs.length; i++){%>
                <article class="col-xl-4 col-md-6 col-sm-12">
                    <figure class="card rounded-4">
                        <img src="<%= skippedMinifigs[i].imageUrl %>"
                            class="card-img-top rounded-4" alt="<%= skippedMinifigs[i].figCode %>" />
                        <div class="card-body">
                            <figcaption class="card-text fw-bold"><%= skippedMinifigs[i].name %>
                            </figcaption>
                        </div>
                        <div class="card-footer">
                            <a href="/minifig-onderdelen/<%= skippedMinifigs[i].figCode %>" target="_blank"
                                title="Bekijk de onderdelenlijst van deze minifig in een nieuw tabblad"
                                class="no-link-style">
                                <i class="btn btn-dark orange-hover btn-sm bi-person-lines-fill rounded-2"></i>
                            </a>
                            <a href="/sets-met-bepaalde-minifig/<%= skippedMinifigs[i].figCode %>" target="_blank"
                                title="Bekijk lijst van sets waarin deze minifig voorkomt" class="no-link-style">
                                <i class="btn btn-dark orange-hover btn-sm bi-view-list rounded-2"></i>
                            </a>
                        </div>
                    </figure>
                </article>
                <% } %>

            </div>
        </section>
        <div class="d-flex justify-content-lg-center"><a href="/resultaten" class="btn btn-danger  me-2">terug naar resultaten</a></div>
        
        
        
    </main>

  <%- include("partials/footer.ejs")%>