<%- include("partials/head.ejs", {title: "Alle huizen waar " + minifig.name + " deel van uitmaakt"}) %>
<%- include("partials/header-complex.ejs") %>

    <main class="container"><!--De afbeeldingen komen van de API-->
        <hgroup class="container-fluid col-lg-10">
        <h1>Verblijven van <%= minifig.name%></h1>
        <p>In deze pagina ziet u een specifieke minifig met daarbij alle bijhorende sets en per set kunt u met behulp van het knopje de bijhorende minifig bekijken van dat specifieke set.</p>
        </hgroup>
        <div class="row justify-content-center">
            <aside class="col-lg-4">
                <article>
                    <figure class="card rounded-4">
                        <img src="<%= minifig.imageUrl %>" alt="<%= minifig.figCode %>" class="card-img-top rounded-4" />
                        <div class="card-body">
                            <figcaption class="card-text fw-bold"><%= minifig.name %></figcaption>
                        </div>
                        <div class="card-footer">
                            <a href="/minifig-onderdelen/<%= minifig.figCode %>" target="_blank" title="Bekijk de onderdelenlijst van deze minifig in een nieuw tabblad" class="no-link-style">
                                <i class="btn btn-dark orange-hover btn-sm bi-person-lines-fill rounded-2"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </aside>

            <hr class="d-block d-lg-none col-8 mt-5 pt-5 border-top border-2 border-success" />

            <section class="container-fluid col-lg-7">
                <div class="row">
                    <% for (let i=0; i<setsMetBepaaldeMinifig.length; i++){%>
                    <article class="col-xl-4 col-md-6 col-sm-12">
                        <figure class="card rounded-4">
                            <img src="<%= setsMetBepaaldeMinifig[i].imageUrl %>" class="card-img-top rounded-4" alt="<%= setsMetBepaaldeMinifig[i].setCode %>" />
                            <div class="card-body">
                                <figcaption class="card-text fw-bold"><%= setsMetBepaaldeMinifig[i].name %></figcaption>
                            </div>
                            <div class="card-footer">
                                <a href="/minifigs-in-set/<%= setsMetBepaaldeMinifig[i].setCode %>" target="_blank" title="Bekijk lijst van minifigs van deze set in een nieuw tabblad" class="no-link-style">
                                    <i class="btn btn-dark orange-hover btn-sm bi-person-lines-fill rounded-2"></i>
                                </a>
                            </div>
                        </figure>
                    </article>
                    <% } %>
                    

                </div>
            </section>
        </div>
    </main>

 <%- include("partials/footer.ejs") %>